logs/
journeymap/
mods/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturespacks/
resourcepacks/
kubejs/exported/
config/jei/world/
probe/
patchouli_data.json
usercache.json
usernamecache.json
rhino.local.properties
options.txt