logs/
journeymap/
mods/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturespacks/
resourcepacks/
kubejs/exported/

patchouli_data.json
usercache.json
usernamecache.json
rhino.local.properties